@font-face{
	font-family:"montserratLight";
	src:url("fonts/Montserrat-Light.ttf");
}
@font-face{
	font-family:"montserratBold";
	src:url("fonts/Montserrat-Medium.ttf");
}
table,tr,td{
	border:.1px solid #000;
}
.accounts,.transfers{
	padding-left:2em;
}
/*	Mobile inclusions
*/
@media only screen and (max-width:600px){
}