*{
	cursor:default;
	font-family:"montserratLight";
	user-select:none;
}
#loans{
	display:inline-block;
}
@font-face{
	font-family:"montserratLight";
	src:url("fonts/Montserrat-Light.ttf");
}
@font-face{
	font-family:"montserratBold";
	src:url("fonts/Montserrat-Medium.ttf");
}
table,tr,td{
	border-spacing:0;
	color:#00008b;
	padding-right:.5em;
	text-align:right;
}
tr:after{
	content:">>>";
	left:2.5em;
	letter-spacing:-.2em;
	opacity:0;
	position:absolute;
	transition:0.2s;
}
tr:hover:after{
	opacity:1;
}
.accounts,.transfers{
	padding-left:2em;
}
.green,.red{
	border-left:1px solid #000;
	padding-left:.5em;
}
.green{
	color:#008000;
}
.red{
	color:#ff0000;
}
/*	Mobile inclusions
*/
@media only screen and (max-width:600px){
}